.footbox {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
}
.footer {
	display: flex;
	gap: 4vw;
	justify-content: center;
	background-image: linear-gradient(
		to right,
		white,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0),
		white
	);
}
.info {
	text-align: center;
}
.info1 {
	font-weight: 600;
	font-size: 3vh;
}
.info2 {
	font-weight: 700;
	font-size: 5vh;
	display: flex;
	gap: 3vw;
	font-family: Helvetica Compressed;
}
.info3 {
	font-weight: 600;
	font-size: 1vh;
}
.logo1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5vw;
	color: red;
	font-weight: 700;
	font-size: 2vh;
}
