*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background-color: rgba(0,0,0,0);
    height: 80px;
    width: 100%;
	
  }
  .nvbr {
	margin: 1vh 0.5vw;
	transition-duration: 0.3s;
	border: none;
	background-color: rgba(245, 222, 179, 0);
	font-family: "Oswald", sans-serif;
	font-size: 3vh;
	color: white;
}
.nvbr:hover {
	transform: scale(1.2);
	border-bottom: 2px solid red;
}
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
	display:flex;
	gap:4vw;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  a{
	text-decoration: none;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: rgba(0,0,0,0.3);
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 14px;
    }
  }
  @media (max-width: 1093px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height:fit-content;
      background: transparent;
      /* top: 80px; */
      left: -100%;
      text-align: left;
      transition: all .5s;
	  z-index: 2;
	  
    }
	.nvbr:hover {
		transform: scale(1);
		border-bottom: 0px solid red;
	}
    nav ul li{  
      display: block;
      margin: 50px 0;
      line-height: 10px;
	  padding: 20px 0px;
	  margin: 0;
    }
    nav ul li a{
      font-size: 13px;
	 
    }
	nav ul{
		padding: 10px;
		flex-direction: column;
		gap:0;
	}
    a:hover,a.active{
      background: none;
      color: black;
    }
    #check:checked ~ ul{
      left: 0;
    }
  
  }
  section{
    background: no-repeat;
    background-size: cover;
    height: calc(100vh-80px);
}
