.navbar {
	display: flex;
	position: relative;
	gap: 3vw;
	justify-content: center;
	align-items: center;
	height: 12vh;
	margin-top: 0vh;
	width: 100vw;
	flex-wrap: wrap;
}
.nvbr {
	margin: 1vh 0.5vw;
	transition-duration: 0.3s;
	border: none;
	background-color: rgba(245, 222, 179, 0);
	font-family: "Oswald", sans-serif;
	font-size: 3vh;
	color: white;
}
.logo {
	margin: 1vh 0.5vw;
	transition-duration: 0.3s;
	border: none;
	background-color: rgba(245, 222, 179, 0);
	font-family: "Oswald", sans-serif;

	color: white;
}

.nvbr:hover {
	transform: scale(1.2);
	border-bottom: 2px solid red;
}
.socialmedialinks {
	display: flex;
	gap: 2vw;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.empty1 {
	width: 2.5vw;
}
.smlink {
	size: 2vh;
	color: white;
	transition-duration: 0.5s;
}
.smlink:hover {
	transform: scale(1.2);
}
