.img{
  position: absolute;
  top: 0px;
  left: 0px;
 height: 100vh;
 width: 100vw;
  z-index: -1;
  opacity: 0.6;
}
body{
  margin: 0px;
  background-image: linear-gradient(to right, red , blue);
  background-size:100% ;
}
